<div class= <%= "@power_#{@power.id}" %>>
  <h1> <%= @power.title %> </h1>
  <div class="power image">
    <img src="<%= show_correct_image %>" width="500" height="500"/>
  </div>
  <p> Description: <%= @power.description %> </p>
  <p> Price: $<%= @power.price %> </p>
<% if @power.status == "active" %>
  <%= button_to "Add to Briefcase", briefcases_path(power_id: @power.id), class: "btn btn-info" %>
<% else %>
  <h3>Item Retired</h3>
<% end %>
</div>
