<div class= <%= "powers_show @power_#{@power.id}" %>>
  <div class="power_show">
    <h1> <%= @power.title %> </h1>
    </br>
    <div class="power_image">
      <img src="<%= show_correct_image(@power) %>" width="400" height="400"/>
    </div>
    </br>
    <h2> Description: <%= @power.description %> </h2>
    <h2> Price: $<%= @power.price %> </h2></br>
    <%= power_active(@power) %>
  </div>
</div>
