<h1>Admin Dashboard</h1>

<% @orders.each do |order| %>
  <%= link_to "Order ##{order.id}", order_path(order)%>
<% end %>

<h1> <%= link_to "Ordered Orders:", admin_filter_path(type: "ordered") %> <%= @ordered_orders_count %> </h1>
<h1>Paid Orders: <%= @paid_orders_count %> </h1>
<h1>Cancelled Orders: <%= @cancelled_orders_count %> </h1>
<h1>Completed Orders: <%= @completed_orders_count %> </h1>
