<h1>Admin Dashboard</h1>

<% @orders.each do |order| %>
  Order #<%= order.id %>
<% end %>

<h1>Ordered Orders: <%= @ordered_orders_count %> </h1>
<h1>Paid Orders: <%= @paid_orders_count %> </h1>
<h1>Cancelled Orders: <%= @cancelled_orders_count %> </h1>
<h1>Completed Orders: <%= @completed_orders_count %> </h1>
