<h1 class="big">Admin Dashboard</h1>

<h2><div><%= link_to "Ordered Orders:", admin_filter_path(type: "ordered") %> <%= @ordered_orders_count %></div> </h2>
<h2><%= link_to "Paid Orders:", admin_filter_path(type: "paid") %> <%= @paid_orders_count %> </h2>
<h2><%= link_to "Cancelled Orders:", admin_filter_path(type: "cancelled") %> <%= @cancelled_orders_count %> </h2>
<h2><%= link_to "Completed Orders:", admin_filter_path(type: "completed") %> <%= @completed_orders_count %> </h2>
</br>

<div class="powers">
  <% @orders.each do |order| %>
  <div class="order">
    <%= link_to "Order ##{order.id}", order_path(order)%></br>
  </div>
  <% end %>
</div>
