<nav class="navbar-default navbar-fixed-top">
  <div class="container_fluid">
    <ul class="nav nav-tabs">
      <li><%= link_to "Buy Powers", powers_path %></li>
      <li><%= link_to "View Briefcase", briefcase_path %></li>
      <% if current_admin? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Order Statuses <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/filter?type=ordered">Ordered</a></li>
            <li><a href="/admin/filter?type=paid">Paid</a></li>
            <li><a href="/admin/filter?type=cancelled">Cancelled</a></li>
            <li><a href="/admin/filter?type=completed">Completed</a></li>
          </ul>
        </li>
      <% end %>
      <% if current_user %>
      <li class="navbar-right"> <%= link_to "Logout", login_path, method: :delete %></li>
      <li class="navbar-right"> <%= link_to "Logged in as #{current_user.first_name}", dashboard_path(current_user) %></li>
      <% else %>
        <li class="navbar-right"> <%= link_to "Login", login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
