<nav class="navbar-default navbar-fixed-top">
  <div class="container_fluid">
    <ul class="nav nav-tabs">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Powers<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li class="all_orders"><%= link_to "All Powers", powers_path %></li>
          <li><%= link_to "Power Categories", categories_path %></li>
          <% if current_admin? %>
          <li><%= link_to "Create New Power", new_admin_power_path %></li>
          <% end %>
        </ul>
      </li>
      <li><%= link_to "Briefcase (#{@briefcase.total_count})", briefcase_path %></li>
      <% if current_admin? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="all_orders"><%= link_to "All Orders", admin_dashboard_path %></li>
            <li><a href="/admin/filter?type=ordered">Ordered Orders</a></li>
            <li><a href="/admin/filter?type=paid">Paid Orders</a></li>
            <li><a href="/admin/filter?type=cancelled">Cancelled Orders</a></li>
            <li><a href="/admin/filter?type=completed">Completed Orders</a></li>
          </ul>
        </li>
      <% end %>

      <% if current_user && !current_admin? %>
        <li> <%= link_to "Orders", orders_path %></li>
      <% end %>
      <% if current_user %>
        <li class="navbar-right logout"> <%= link_to "Return to Human", login_path, method: :delete %></li>
        <li class="navbar-right dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= "Logged in as #{current_user.first_name}" %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "View Profile", dashboard_path(current_user) %></li>
            <li><%= link_to "Edit Account", edit_user_path(current_user) %></li>
          </ul>
        </li>
      <% else %>
        <li class="navbar-right login"> <%= link_to "Put on Your Mask", login_path, class: "btn btn-primary" %></li>
      <% end %>

    </ul>
  </div>
</nav>
