<div>
  <h1><%= "Abilities Order ##{@order.id}" %></h1>

  <% unless @order.status == "Cancelled" %>
    <% @powers.each do |power| %>
      <h1> <%= link_to "#{power.title} Power", power_path(power) %> </h1>
      <div class="power image">
        <img src="<%= index_correct_image(power) %>" width="200" height="200"/>
      </div>
      <p> <%= power.description %> </p>
      <p> Price: $<%= power.price %> </p>
      <p> Quantity: <%= power.order_powers.find_by(order_id: @order.id).power_quantity %> </p>
      <p> Subtotal: $<%= power.order_powers.find_by(order_id: @order.id).power_total %> </p>
    <% end %>
    <h4>Order Total: $<%= @order.total %></h4>
    <h4>Order Status: <%= @order.status %></h4>
    <h4>Order Placed: <%= @order.created_at.strftime("%A, %d %b %Y %l:%M %p") %></h4>
    <% if current_admin? %>
    <h4>Ordered By: <%= @order.user.first_name%> <%= @order.user.last_name %></h4>
    <h4>Shipping Address: <%= @order.user.address%></h4>
    <% end %>
    <% unless @order.status == "Completed" || @order.status == "Cancelled" %>
      <% unless @order.status == "Paid" %>
        <%= button_to 'Pay To Complete Order' %>
      <% end %>
      <%= button_to 'Cancel Order', order_path(@order, type: "cancel"), method: :put %>
    <% end %>
  <% else %>
    Your Order was cancelled on <%= @order.updated_at.strftime("%A, %d %b %Y %l:%M %p") %>
  <% end %>

</div>
