<div>
  <h1><%= "Abilities Order ##{@order.id}" %></h1>

  <% unless @order.status == "Cancelled" %>
    <% @powers.each do |power| %>
      <h1> <%= link_to "#{power.title} Power", power_path(power) %> </h1>
      <div class="power image">
        <img src="<%= power.image_url %>" width="200" height="200"/>
      </div>
      <p> <%= power.description %> </p>
      <p> Price: $<%= power.price %> </p>
      <p> Quantity: <%= power.order_powers.find_by(order_id: @order.id).power_quantity %> </p>
      <p> Subtotal: $<%= power.order_powers.find_by(order_id: @order.id).power_total %> </p>
    <% end %>
    Order Total: $<%= @order.total %>
    Order Status: <%= @order.status %>
    Order Creation Time: <%= @order.created_at %>
    <% unless @order.status == "Completed" || @order.status == "Cancelled" %>
      <% unless @order.status == "Paid" %>
        <%= button_to 'Pay To Complete Order' %>
      <% end %> 
      <%= button_to 'Cancel Order', order_path(@order, type: "cancel"), method: :put %>
    <% end %>
  <% else %>
    Your Order was cancelled on <%= @order.updated_at %>
  <% end %>

</div>
