<div class="total">
  <h1> Briefcase Total: $<%= @briefcase.total_cost %> </h2>
</div>

<div class="checkout_button_or_sign_up">
  <h4><%= checkout_button_or_sign_up %></h4>
</div>

<div class="powers">
  <% @powers.each do |power| %>
    <div class="power", id= <%= "power_#{power.id}" %>>
      <h1><%= link_to "#{power.title}", power_path(power) %></h1>
      <div class="power_image_briefcase">
        <img src="<%= show_correct_image(power) %>" width="50" height="50"/>
      </div>
      <div class="description">
        <h5>Power Description: <%= power.description %></h5>
      </div>
      <div class="price">
        <h5>Price: $<%= power.price %></h5>
      </div>
      <div class="quantity" %>
        <h5>Quantity: <%= power.quantity %></h5>
      </div>
      <%= button_to '+', briefcase_path(power_id: power.id, type: "increase"), class: "btn btn-info", method: :patch   %>
      <%= decrease_quantity_button(power) %>
      <div class="subtotal">
        <h4>Subtotal: $<%= power.total_cost %></h4>
      </div>
      <%= button_to 'Remove', briefcase_path(power_id: power.id), class: "btn btn-danger", method: :put %>
    </div>
  <% end %>
</div>
