<div class="total">
  <h2> Briefcase Total: $<%= @briefcase.total_cost %> </h2>
</div>
<div class="checkout_button_or_sign_up">
  <h4><%= checkout_button_or_sign_up %></h4>
</div>

<div class="powers">
<% @powers.each do |power| %>
  <div class= <%= "power power_#{power.id}" %>>
    <h1><%= link_to "#{power.title}", power_path(power) %></h1>
    <div class="power_image_briefcase">
      <img src="<%= power.image_url %>" width="50" height="50"/>
    </div>
    <div class="description">
      <h5>Power Description: <%= power.description %></h5>
    </div>
    <div class="price">
      <h5>Price: $<%= power.price %></h5>
    </div>
    <div class="quantity">
      <h5>Quantity: <%= power.quantity %></h5>
    </div>
    <%= button_to '+', briefcase_path(power_id: power.id, type: "increase"), class: "btn btn-info", method: :patch   %>
    <%= decrease_quantity_button(power) %>
    <div class="subtotal">
      <h4>Subtotal: $<%= power.total_cost %></h4>
    </div>
    <%= button_to 'Remove', briefcase_path(power_id: power.id), class: "btn btn-danger", method: :put %>
  </div>
<% end %>
</div>

<!-- <div class="total">
  <h2> Briefcase Total: $<%#= @briefcase.total_cost %> </h2>
</div>
<div class="powers">
  <%# @powers.each do |power| %>
    <table class= <%#= "power power_#{power.id}" %>>
      <tr>
        <th><h1><%#= power.title %></h1></th>
      </tr>
      <tr>
        <td><div class="power_image_briefcase">
          <img src="<%#= power.image_url %>"/>
        </div></td>
        <td><div class="description">
          Power Description: <%#= power.description %>
        </div></td>
        <td><div class="price">
          Price for each: $<%#= power.price %>
        </div></td>
      </tr>
      <tr>
        <td><div class="quantity">
          Quantity: <%#= power.quantity %>
        </div></td>
        <td><%#= button_to '+', briefcase_path(power_id: power.id, type: "increase"), class: 'btn btn-info', method: :patch %>
            <%#= decrease_quantity_button(power) %></td>
      </tr>
      <tr>
        <td><div class="subtotal">
          <h4>Subtotal: $<%#= power.total_cost %></h4>
        </div></td>
      </tr>
      <tr>
        <td><%#= button_to 'Remove', briefcase_path(power_id: power.id), class: 'btn btn-info', method: :put %></td>
      </tr>
    </table>
  <%# end %>
</div>
