<% @powers.each do |power| %>
  <h1><%= power.title %></h1>
  <div class="power image">
    <img src="<%= power.image_url %>" width="50" height="50"/>
  </div>
  <div class="power description">
    Power Description: <%= power.description %>
  </div>
  <div class="power price">
    Price: <%= power.price %>
  </div>
  <div class="power quantity">
    Quantity: <%= @briefcase.contents[power.id.to_s] %>
  </div>
  <%= link_to 'Remove', briefcase_path(power_id: power.id), method: :put %>
<% end %>
Total: <%= @briefcase.total_cost %>
