<% @powers.each do |power| %>
  <div class= <%= "power_#{power.id}" %>>
    <h1><%= power.title %></h1>
    <div class="power_image">
      <img src="<%= power.image_url %>" width="50" height="50"/>
    </div>
    <div class="description">
      Power Description: <%= power.description %>
    </div>
    <div class="price">
      Price: $<%= power.price %>
    </div>
    <div class="quantity">
      Quantity: <%= power.quantity %>
    </div>
    <%= button_to '+', briefcase_path(power_id: power.id, type: "increase"), method: :patch   %>
    <%= decrease_quantity_button(power) %>
    <%= link_to 'Remove', briefcase_path(power_id: power.id), method: :put %>
    <div class="subtotal">
      Subtotal: $<%= power.total_cost %>
    </div>

  </div>
<% end %>
<div class="total">
  Total: $<%= @briefcase.total_cost %>
</div>
<div class="checkout_button_or_sign_up">
  <%= checkout_button_or_sign_up %>
</div>
