
<% @powers.each do |power| %>
  <div class= <%= "power power_#{power.id}" %>>
    <h1><%= power.title %></h1>
    <div class="power image">
      <img src="<%= power.image_url %>" width="50" height="50"/>
    </div>
    <div class="description">
      Power Description: <%= power.description %>
    </div>
    <div class="price">
      Price: $<%= power.price %>
    </div>
    <div class="quantity">
      Quantity: <%= @briefcase.contents[power.id.to_s] %>
    </div>
    </br>
    <div class="increment-button">
      <%= button_to '+', briefcase_path(power_id: power.id, type: "increase"), class: 'btn btn-info', method: :patch   %>
    </div>
      <% if @briefcase.contents[power.id.to_s] > 1 %>
        <%= button_to '-', briefcase_path(power_id: power.id, type: "decrease"), class: 'btn btn-info', method: :patch   %>
      <% end %>
      </br>
    <h4><%= link_to 'Remove', briefcase_path(power_id: power.id), method: :put %></h4>
    <div class="subtotal">
      <h4>Subtotal: $<%= @briefcase.subtotal_cost(power.id) %></h4>
    </div>
    
  </div>
<% end %>
</br>
<div class="total">
  <h2> Total: $<%= @briefcase.total_cost %> </h2>
</div>
<% if current_user %>
  <h2 class="checkout"><%= link_to 'Checkout Abilities', class: 'btn btn-info' %></h2>
<% elsif session[:user_id].nil? %>
  <h2 class="login-to-buy"><%= link_to "Login or Create Account to Buy Your Abilities!", login_path, class: 'btn btn-info' %> </h2> 
<% end %>
