<div>
  <%= form_for @power, :url => admin_powers_path, html: {multipart: true} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :price %>
    <%= f.text_field :price %>

    <%= f.label :image, "Attach an Image" %></br>
    <%= f.file_field :image %>

    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.order(:title), :id, :title, include_blank: true %>

    <%= f.submit "Create Power" %>

  <% end %>
</div>
