<!DOCTYPE html>
<html>
  <head>
    <title>LittleShopOfOrders</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container">
    <%= render 'shared/navigation' %>
      <% flash.each do |type, message| %>
        <%= content_tag :div, message.html_safe, class: type %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
